DATABASE_URL=postgresql://sdps:sdpspass123@postgres:5432/sdps
REDIS_URL=redis://redis:6379/0
SECRET_KEY=change-me-in-production-must-be-32-ch
ENCRYPTION_KEY=dGhpcyBpcyBhIDMyLWJ5dGUgZW5jcnlwdGlvbg==
APP_ENV=development
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_HOURS=24
FRAUD_THRESHOLD_LOW=0.40
FRAUD_THRESHOLD_HIGH=0.75
